<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidenav">
    <mat-toolbar>
      <span>Machine - {{ username }}</span>
    </mat-toolbar>
    
    <mat-nav-list>

      <button mat-raised-button color="primary" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Sair
    </button>
    </mat-nav-list>

    <div class="logout-button">
      
    </div>
  </mat-drawer>
  
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
