.example-container {
  height: 100%;
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
}

.sidenav {
  width: 250px;
  background-color: #2e3b4e;
  color: white;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  background-color: #1f2d3b;
  color: white;
}

mat-nav-list {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-list-item {
  color: white;
  font-size: 16px;
}

mat-list-item:hover {
  background-color: #727f92;
}

button[mat-list-item] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

mat-icon {
  margin-right: 10px;
}

.logout-button {
  margin-top: auto; 
}

mat-drawer-content {
  flex-grow: 1;
  padding: 20px;
}

.router-outlet {
  padding: 20px;
}
