<div class="background-blur">
    <div class="parent">
        <div class="container-forms">
            <div class="container">
                <form action="#" [formGroup]="login">
                    <div class="login-header">
                        <h1>Login</h1>
                        <p>Entre com suas credênciais</p>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" formControlName="email" placeholder="Email">
                        <i class='bx bx-envelope'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" name="password" formControlName="password" placeholder="Password">
                        <i class='bx bx-lock-alt'></i>
                    </div>

                    <button class="login-button" (click)="onLogin()">Login</button>
                </form>
            </div>
            <mat-divider></mat-divider>
            <div class="container">
                <form action="#" [formGroup]="register">
                    <div class="login-header">
                        <h1>Registrar</h1>
                        <p>Entre com suas credênciais</p>
                    </div>
                    <div class="input-box">
                        <input 
                        type="name" 
                        name="name" 
                        formControlName="name" 
                        placeholder="Name" 
                        [ngClass]="{
                            'ng-invalid': register.get('name')?.invalid && register.get('name')?.touched,
                            'ng-touched': register.get('name')?.touched
                          }">
                        <i class='bx bx-envelope'></i>
                        <div *ngIf="register.get('name')?.invalid && register.get('name')?.touched">
                            <small *ngIf="register.get('name')?.errors?.['required']">
                                O nome é obrigatório.
                            </small>
                            <small *ngIf="register.get('name')?.errors?.['minlength']">
                                O nome deve ter pelo menos 3 caracteres.
                            </small>
                        </div>
                    </div>
                    <div class="input-box">
                        <input 
                        type="email" 
                        name="email" 
                        formControlName="email" 
                        placeholder="Email" 
                        [ngClass]="{
                            'ng-invalid': register.get('email')?.invalid && register.get('email')?.touched,
                            'ng-touched': register.get('email')?.touched
                          }">
                        <i class='bx bx-envelope'></i>
                        <div *ngIf="register.get('email')?.invalid && register.get('email')?.touched">
                            <small *ngIf="register.get('email')?.errors?.['required']">
                                O email é obrigatório.
                            </small>
                            <small *ngIf="register.get('email')?.errors?.['email']">
                                Insira um email válido.
                            </small>
                        </div>
                    </div>
                    <div class="input-box">
                        <input 
                        type="password" 
                        name="password" 
                        formControlName="password" 
                        placeholder="Password"
                            [ngClass]="{
                            'ng-invalid': register.get('password')?.invalid && register.get('password')?.touched,
                            'ng-touched': register.get('password')?.touched
                          }">
                        <i class='bx bx-lock-alt'></i>
                        <div *ngIf="register.get('password')?.invalid && register.get('password')?.touched">
                            <small *ngIf="register.get('password')?.errors?.['required']">
                                A senha é obrigatória.
                            </small>
                            <small *ngIf="register.get('password')?.errors?.['minlength']">
                                A senha deve ter pelo menos 6 caracteres.
                            </small>
                            <small *ngIf="register.get('password')?.errors?.['maxlength']">
                                A senha deve ter no máximo 20 caracteres.
                            </small>
                        </div>
                    </div>
                    <div class="input-box">
                        <input 
                        type="phone" 
                        name="phone" 
                        formControlName="phone" 
                        placeholder="Telefone" 
                        [ngClass]="{
                            'ng-invalid': register.get('phone')?.invalid && register.get('phone')?.touched,
                            'ng-touched': register.get('phone')?.touched
                          }">
                        <i class='bx bx-envelope'></i>
                        <div *ngIf="register.get('phone')?.invalid && register.get('phone')?.touched">
                            <small *ngIf="register.get('phone')?.errors?.['required']">
                                O telefone é obrigatório.
                            </small>
                            <small *ngIf="register.get('phone')?.errors?.['pattern']">
                                Insira um telefone válido (somente números, 10-15 dígitos).
                            </small>
                        </div>
                    </div>
                    <button class="login-button" (click)="onRegister()">Cadastrar</button>

                </form>

            </div>
        </div>

    </div>
</div>